[tool]
[tool.poetry]
name = "mojap-metadata"
version = "1.1.0"
description = "A python package to manage metadata"
license = "MIT"
authors = ["MoJ Data Engineering <dataengineering@digital.justice.gov.uk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
jsonschema = ">=3.0.0"
parameterized = "0.7.*"
PyYAML = "^5"
pyarrow = { version = "^2.0", optional = true }
etl-manager = { version = "^7.4", optional = true }

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
black = "^20.8b1"
pytest = "^6.1.2"
pytest-watch = "^4.2.0"

[tool.poetry.extras]
arrow = ["pyarrow"]
etl-manager = ["etl-manager"] 

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
